---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56bc-pfHj3NT3CLzVoOVGysALtnqOl8Q"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"FORTH-USD","base_currency":"FORTH","quote_currency":"USD","quote_increment":"0.0001","base_increment":"0.001","display_name":"FORTH-USD","min_market_funds":"1","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"online","status_message":"","trading_disabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"TRU-BTC","base_currency":"TRU","quote_currency":"BTC","quote_increment":"0.00000001","base_increment":"0.1","display_name":"TRU-BTC","min_market_funds":"0.000016","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"delisted","status_message":"","trading_disabled":true,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"AVAX-EUR","base_currency":"AVAX","quote_currency":"EUR","quot[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/BTC-USD/candles?end=2026-04-24T19:47:29Z&granularity=60&start=2026-04-23T19:47:29Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-u2vw1k2FplJk8QINZR4vEQeO+AA"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"granularity too small for the requested time range. Count
        of aggregations requested exceeds 300"}'
  recorded_at: Fri, 24 Apr 2026 19:47:29 GMT
[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/ETH-USD/candles?end=2026-04-24T19:47:30Z&granularity=60&start=2026-04-24T19:47:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44-IX12a/81xrn4mQMPXM+7+FsYJHY"
    body:
      encoding: ASCII-8BIT
      string: "[[1777060020,2320.64,2322,2320.64,2321.99,9.36450618]]"
  recorded_at: Fri, 24 Apr 2026 19:47:31 GMT
[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/ETH-USD/candles?end=2026-04-24T19:56:27Z&granularity=3600&start=2026-04-24T20:00:00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"42-78TxaYmMhZOHjJnPRUbOLuqHjYY"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"start must be before end"}'
  recorded_at: Fri, 24 Apr 2026 19:56:27 GMT
recorded_with: VCR 6.3.1
