---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5704-2u5bZIPy0C/s7yeoAD84wB+DBfo"
    body:
      encoding: ASCII-8BIT
      string: |
        [
          {
            "id": "BTC-USD",
            "base_currency": "BTC",
            "quote_currency": "USD",
            "base_min_size": "0.00000001",
            "base_max_size": "1500",
            "quote_increment": "0.01",
            "base_increment": "0.00000001",
            "display_name": "BTC/USD",
            "min_market_funds": "1",
            "max_market_funds": "10000000",
            "margin_enabled": false,
            "post_only": false,
            "limit_only": false,
            "cancel_only": false,
            "trading_disabled": false,
            "status": "online",
            "status_message": "",
            "auction_mode": false
          },
          {
            "id": "ETH-USD",
            "base_currency": "ETH",
            "quote_currency": "USD",
            "base_min_size": "0.00000001",
            "base_max_size": "2400",
            "quote_increment": "0.01",
            "base_increment": "0.00000001",
            "display_name": "ETH/USD",
            "min_market_funds": "1",
            "max_market_funds": "10000000",
            "margin_enabled": false,
            "post_only": false,
            "limit_only": false,
            "cancel_only": false,
            "trading_disabled": false,
            "status": "online",
            "status_message": "",
            "auction_mode": false
          }
        ]
  recorded_at: Wed, 27 Aug 2025 06:39:43 GMT
recorded_with: VCR 6.3.1
