---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"57ee-+vazWW7cAYpfFmDoGeRpdTkohiI"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"SUKU-USDT","base_currency":"SUKU","quote_currency":"USDT","quote_increment":"0.0001","base_increment":"0.1","display_name":"SUKU-USDT","min_market_funds":"1","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"delisted","status_message":"","trading_disabled":true,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"SKL-EUR","base_currency":"SKL","quote_currency":"EUR","quote_increment":"0.0001","base_increment":"0.1","display_name":"SKL-EUR","min_market_funds":"0.84","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"delisted","status_message":"","trading_disabled":true,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"EOS-EUR","base_currency":"EOS","quote_currency":"EUR","quote_incremen[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/BTC-USD/candles?end=2025-08-24T03:42:01Z&granularity=300&start=2025-08-23T03:42:01Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 393e3784d55f910dac3b77922b72f39c49a35066d016caa9868e7c99bee1d001
      Cb-Access-Timestamp:
      - '1756006921'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b02-MV0XC5nJ2BGtuMV76V/z5S7T1nE"
    body:
      encoding: ASCII-8BIT
      string: "[[1756006800,114923.79,114966.14,114954.73,114963.67,1.3104536],[1756006500,114912.01,114994.12,114953.63,114954.72,4.29526411],[1756006200,114913.72,114978.5,114913.72,114953.63,3.8385124],[1756005900,114913.71,115041.72,115041.72,114913[...]
[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/BTC-USD/candles?end=2025-08-24T04:42:55Z&granularity=60&start=2025-08-23T04:42:55Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 65839978168d043ab844dd41955d46119fe6f641b5adc88c625b880520851970
      Cb-Access-Timestamp:
      - '1756010575'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-u2vw1k2FplJk8QINZR4vEQeO+AA"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"granularity too small for the requested time range. Count
        of aggregations requested exceeds 300"}'
  recorded_at: Sun, 24 Aug 2025 04:42:56 GMT
[...]
