---
http_interactions:
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"56dd-bvHpayHEpU9KKgj8atZdKxoY4T8"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"POLS-USD","base_currency":"POLS","quote_currency":"USD","quote_increment":"0.0001","base_increment":"0.01","display_name":"POLS-USD","min_market_funds":"1","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"online","status_message":"","trading_disabled":false,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"SUSHI-EUR","base_currency":"SUSHI","quote_currency":"EUR","quote_increment":"0.0001","base_increment":"0.01","display_name":"SUSHI-EUR","min_market_funds":"0.84","margin_enabled":false,"post_only":false,"limit_only":false,"cancel_only":false,"status":"delisted","status_message":"","trading_disabled":true,"fx_stablecoin":false,"max_slippage_percentage":"0.03000000","auction_mode":false,"high_bid_limit_percentage":""},{"id":"FLOW-USD","base_currency":"FLOW","quote_currency":"USD","quote[...]
- request:
    method: get
    uri: https://api.exchange.coinbase.com/products/BTC-USD/candles?end=2025-08-24T04:44:36Z&granularity=60&start=2025-08-23T04:44:36Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Cb-Access-Key:
      - "<COINBASE_API_KEY>"
      Cb-Access-Sign:
      - 65891910eeaefdcb359cba5ddc3f164f8fc5196bb3381047a37b50bf5ccbba8a
      Cb-Access-Timestamp:
      - '1756010676'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71-u2vw1k2FplJk8QINZR4vEQeO+AA"
    body:
      encoding: ASCII-8BIT
      string: '{"message":"granularity too small for the requested time range. Count
        of aggregations requested exceeds 300"}'
  recorded_at: Sun, 24 Aug 2025 04:44:37 GMT
[...]
