---
http_interactions:
- request:
    method: get
    uri: https://api.coinbase.com/api/v3/brokerage/cfm/positions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <JWT_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"positions":[{"product_id":"BIT-29AUG25-CDE","side":"LONG","size":"1.0","number_of_contracts":"1.0","entry_price":"50000.0","unrealized_pnl":"1000.0"}]}'
  recorded_at: Thu, 23 Jan 2025 12:01:00 GMT
- request:
    method: post
    uri: https://api.coinbase.com/api/v3/brokerage/orders
    body:
      encoding: UTF-8
      string: '{"client_order_id":"cli-<UUID>","product_id":"BIT-29AUG25-CDE","side":"SELL","order_configuration":{"market_market_ioc":{"base_size":"1.0"}}}'
    headers:
      Authorization:
      - Bearer <JWT_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"order_id":"test-close-order-789","status":"FILLED","success":true,"filled_size":"1.0","filled_value":"51000.0"}'
  recorded_at: Thu, 23 Jan 2025 12:01:00 GMT
recorded_with: VCR 6.3.1
